* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: var(--primary-text);
  color: #070707;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  /* font-family: "Open Sans", sans-serif; */
  font-weight: 400;
  font-style: normal;
  font-family: "inter";
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}

:root {
  --primary-text: 14px;
  --primary-color: #5c4eae;
  --header-padding: 35px 0;
  --secondary-color: grey;
  --white-color: white;
  --accent-color: #201f1f;
  --hero-title: 40px;
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Inter", sans-serif;
}

@media screen and (min-width: 520px) {
  :root {
    --hero-title: 50px;
  }
}

@media screen and (min-width: 767px) {
  :root {
    --hero-title: 55px;
  }
}

@media screen and (min-width: 1023px) {
  :root {
  }
}
@media screen and (min-width: 1440px) {
  :root {
    --primary-text: 16px;
    --section-padding: 125px 0;
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

/* починається header */

.header {
  padding: var(--header-padding);
}

.header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 20px;
  right: 0;
  top: -100vh;
  gap: 20px;
  font-size: 20px;
}

.header__list.active {
  background-color: white;
  z-index: 2;
  width: 100%;
  height: 100vh;
  top: 0;
}

@keyframes iteman {
  0% {
    margin-left: 100%;
  }
  30% {
    margin-left: 70%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes items {
  0% {
    opacity: 0;
    font-size: 0;
    border-bottom: none;
  }
  70% {
    opacity: 0.1;
    font-size: 0;
    border-bottom: none;
  }
  80% {
    opacity: 0.4;
    max-width: 1%;
    width: 0;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    max-width: 80%;
  }
}
.header__list.active a {
  font-weight: 600;
  font-size: 30px;
  border-bottom: 1px solid black;
  max-width: 80%;
  padding: 8px;
  animation-name: iteman, itemop;
  animation-duration: 2.5s;
}

.header__signup {
  background-color: var(--primary-color);
  width: 85px;
  height: 45px;
  border-radius: 12px;
  padding: 12px;
  font-weight: 700;
  color: white;
  border: none;
}

.header__login {
  border: none;
  background-color: white;
  font-weight: 700;
  color: #606060;
}

.menu__btn {
  background-color: transparent;
  border: none;
  outline: none;
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.menu__btn .bar {
  width: 30px;
  height: 4px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: black;
  transition: 0.3s;
}

.menu__btn .bar:nth-child(2) {
  top: calc(50% - 9px);
}

.menu__btn .bar:nth-child(3) {
  top: calc(50% + 9px);
}

.menu__btn.active .bar:nth-child(1) {
  display: none;
}

.menu__btn.active .bar:nth-child(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menu__btn.active .bar:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.header__link {
  color: #606060;
}

@media screen and (min-width: 992px) {
  .header__list {
    flex-direction: row;
    top: 0;
    position: static;
    align-items: center;
  }
  .menu__btn {
    display: none;
  }

  .header__link:nth-child(5) {
    padding-left: 100px;
  }
}

/* section hero */

/* .hero__head .p::before{

} */

.hero {
  padding: var(--section-padding);
}
.hero__head {
  position: relative;
  margin-bottom: 50px;
}

.header__buttons {
  display: none;
}

/* .hero__preview{
  font-size:9px;
  font-weight: 600px;
  text-align: center;
  position: relative;
  display: inline-block;
} */
.hero {
  padding-bottom: 75px;
}

.hero__title {
  font-size: 40px;
  font-weight: 600px;
  text-align: center;
  position: relative;
  padding-bottom: 20px;
}

.hero__title span {
  color: var(--primary-color);
}

.hero__preview::after {
  content: "OVER 1000 USERS";
  position: absolute;
  top: -20px;
  color: var(--secondary-color);
  width: 120px;
  font-weight: 600;
  font-size: 9px;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--main-font);
}

.hero__text {
  font-size: var(--text);
  text-align: center;
  font-weight: 500;
  margin-bottom: 40px;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  max-width: 355px;
  width: 100%;
  margin: 0 auto 40px;
}

.hero__text span {
  color: var(--primary-color);
}

.hero__btn {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-bottom: 25px;
}

.hero__btn__start {
  color: white;
  background-color: var(--primary-color);
  padding: 14px 24px;
  align-items: center;
  border-radius: 10px;
}

.hero__btn__pro {
  color: var(--primary-color);
  padding: 14px 21px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

.hero__trust {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: flex-end;
}

.hero__trust__p {
  position: relative;
  padding-left: 85px;
}

.hero__trust__p::before {
  content: "";
  background-image: url(./img/icons/star.svg);
  width: 70px;
  background-size: cover;
  height: 11px;
  position: absolute;
  left: 0;
  top: 1.7px;
}

.hero__image {
  object-fit: contain;
  max-width: 680px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero__food {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 991px) {
  .hero__wrapper {
    display: flex;
    align-items: center;
  }

  .hero__title {
    text-align: left;
    max-width: 745px;
    width: 100%;
  }
  .hero__text {
    text-align: left;
    font-size: 13px;
    margin: 0 0 40px 0;
  }

  .hero__btn {
    display: flex;
    justify-content: start;
  }

  .hero__trust {
    display: flex;
    justify-content: start;
  }

  .hero__preview::after {
    color: #201f1f33;
    font-size: 10px;
    left: 14%;
  }
  .header__buttons {
    display: flex;
    gap: 10px;
  }

  .hero__head {
    margin: 0;
  }

  .header__nav {
    border-bottom: 1px solid #cbcbcb;
  }
}

.customers {
  padding: 80px 0;
  background-color: var(--primary-color);
}

.customers__list {
  color: var(--white-color);
  text-align: center;
}

.customers__item {
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.customers__text {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 10px;
}

.customers__description {
  color: #c5bfed;
  font-size: var(--primary-text);
  max-width: 270px;
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.customers__item:nth-child(3) {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
